<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320"/>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no, email=no">
  <meta name="apple-mobile-web-app-capable" content="no">

  <title>Backbone Workshop</title>

  <!-- =========== -->
  <!-- Stylesheets -->
  <!-- =========== -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
  <!-- ========= -->
  <!-- Your HTML -->
  <!-- ========= -->
  <div id="container">Loading...</div>

  <!-- ========= -->
  <!-- Libraries -->
  <!-- ========= -->
  <script data-main="javascripts/main.js" src="/javascripts/lib/require.js"></script>

  <!-- =============== -->
  <!-- Javascript code -->
  <!-- =============== -->
  <script type="text/javascript">
    window.ITEMS = [
      {
        value: 3124,
        message: 'message'
      },
      {
        value: 13656,
        message: 'some more messages'
      },
      {
        value: 8798,
        message: 'nope'
      },
      {
        value: 12378,
        message: 'something else'
      },
      {
        value: 4748,
        message: 'another person is here'
      },
      {
        value: 2999,
        message: 'here is your message'
      },
      {
        value: 2909,
        message: 'LinkedIn mobile'
      },
      {
        value: 2167,
        message: 'long long ago'
      },
      {
        value: 1234,
        message: 'in a galaxy far far away'
      },
      {
        value: 8902,
        message: 'another message here'
      },
      {
        value: 8098,
        message: 'check this out'
      }
    ];
  </script>

  <!-- =============== -->
  <!--    Templates    -->
  <!-- =============== -->
  <script type="text/template" id="page-template">
    <div class="page">
      <h1 class="title"><%- title %></h1>
      <ul class="items"></ul>
    </div>
  </script>

  <script type="text/template" id="item-template">
    <p><span class="label">Value: </span><%- model.get('value') %></p>
    <p><span class="label">Message: </span><%- model.get('message') %></p>
  </script>

</body>
</html>